/* 여백초기화 */
body, div, dl, dd, dt, ul, li, h1, h2, h3, h4, h5, h6, form, input, ol, legend, 
textarea, select, fieldset, p, button {margin: 0; padding: 0;}

/* link reset */
a {color: #273743; text-decoration: none;}
a:hover {color: #5bbbeb;}


/* font reset */
body, input, textarea, select, button, table {font-family: "나눔 고딕","Nanum Gothic"}

/* title reset */
h1, h2, h3 ,h4, h5, h6 {font-size: 12px; font-weight: normal;}

/* 블릿기호 초기화 */
li, ol, ul {list-style: none;}


/* ir 효과 */
.ir {
	width: 0; 
	height: 0; 
	font-size: 0; 
	line-height: 0;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
}

/*이텔릭체 초기화 */
em, address {
	font-style: normal;

}

img {border: 0;}







